# 기초통계량(mean, std, var)

```

1. ndarray.mean()
2. ndarray.std()
3. ndarray.var()
```

In [13]:
a = np.array([1,2,3,4,5,6,7,8,9,10])

print(f"mean : {a.mean()}, std : {a.std()}, var : {a.var()}", sep='\n')

mean : 5.5, std : 2.8722813232690143, var : 8.25

In [14]:
maths = np.random.randint(low = 30, high = 100, size = (10,))
english = np.random.randint(low = 30, high = 100, size = (10,))
physics = np.random.randint(low = 30, high = 100, size = (10,))

score_table = np.vstack((maths,english,physics)).T
score_table

array([[30, 79, 87],
       [73, 97, 31],
       [97, 52, 59],
       [67, 35, 98],
       [78, 76, 75],
       [53, 78, 31],
       [59, 52, 75],
       [38, 78, 36],
       [41, 52, 32],
       [44, 61, 49]])

In [15]:
df = pd.DataFrame({"Math scores": maths, "English scores": english, "Physics scores": physics})
df

   Math scores  English scores  Physics scores
0           30              79              87
1           73              97              31
2           97              52              59
3           67              35              98
4           78              76              75
5           53              78              31
6           59              52              75
7           38              78              36
8           41              52              32
9           44              61              49

**row-wise, column-wise**

- axis = 0 : 0차원 제외하고 shape 활용
- axis = 1 : 1차원 제외하고 shape 활용

In [17]:
print(score_table,score_table.shape,sep='\n')

[[30 79 87]
 [73 97 31]
 [97 52 59]
 [67 35 98]
 [78 76 75]
 [53 78 31]
 [59 52 75]
 [38 78 36]
 [41 52 32]
 [44 61 49]]
(10, 3)

In [19]:
score_table.mean(axis=0)

array([58. , 66. , 57.3])

In [20]:
score_table.std(axis=0)

array([19.80403999, 17.58408371, 23.90418373])

In [21]:
score_table.var(axis=0)

array([392.2 , 309.2 , 571.41])

**normalization**
- (data - mean) / std

In [39]:
normalized_data = (score_table-score_table.mean(axis=0)/score_table.std(axis=0))
normalized_data

array([[27.07130464, 75.24660568, 84.60293007],
       [70.07130464, 93.24660568, 28.60293007],
       [94.07130464, 48.24660568, 56.60293007],
       [64.07130464, 31.24660568, 95.60293007],
       [75.07130464, 72.24660568, 72.60293007],
       [50.07130464, 74.24660568, 28.60293007],
       [56.07130464, 48.24660568, 72.60293007],
       [35.07130464, 74.24660568, 33.60293007],
       [38.07130464, 48.24660568, 29.60293007],
       [41.07130464, 57.24660568, 46.60293007]])