# 최대 / 최소값 찾기

- np.max( axis = )
- np.min( axis = )
- np.argmax( )
- np.argmin( )

# 1. np.max( )

In [22]:
math = np.random.randint(low=50, high=100, size=10)
eng = np.random.randint(low=50, high=100, size=10)
science = np.random.randint(low=50, high=100, size=10)

In [26]:
print(math, eng, science, sep='\n')

[82 81 78 54 79 64 95 88 79 88]
[94 91 92 57 71 93 51 87 76 83]
[99 76 98 74 89 75 96 83 64 51]

In [25]:
score_table = np.vstack((math, eng, science))
score_table

array([[82, 81, 78, 54, 79, 64, 95, 88, 79, 88],
       [94, 91, 92, 57, 71, 93, 51, 87, 76, 83],
       [99, 76, 98, 74, 89, 75, 96, 83, 64, 51]])

In [28]:
score_table = score_table.T
score_table

array([[82, 94, 99],
       [81, 91, 76],
       [78, 92, 98],
       [54, 57, 74],
       [79, 71, 89],
       [64, 93, 75],
       [95, 51, 96],
       [88, 87, 83],
       [79, 76, 64],
       [88, 83, 51]])

In [29]:
df = pd.DataFrame({'math':math, 'eng':eng, 'science':science})
df

   math  eng  science
0    82   94       99
1    81   91       76
2    78   92       98
3    54   57       74
4    79   71       89
5    64   93       75
6    95   51       96
7    88   87       83
8    79   76       64
9    88   83       51

**table 전체의 max, min**

In [30]:
np.max(score_table)

99

In [31]:
np.min(score_table)

51

**row-wise, column-wise의 max, min**

- np.max( axis=0 ) : axis가 0이면 ndarray.max()의 결과는 0차원을 없앤 결과가 나온다.
- np.max( axis=1 ) : axis가 1이면 ndarray.max()의 결과는 1차원을 없앤 결과가 나온다.

In [33]:
score_table.shape

(10, 3)

In [34]:
print(np.max(score_table, axis=0), np.max(score_table, axis=0).shape)

[95 94 99] (3,)

In [35]:
print(np.max(score_table, axis=1), np.max(score_table, axis=1).shape)

[99 91 98 74 89 93 96 88 79 88] (10,)

# 2. np.argmax( )

In [36]:
df

   math  eng  science
0    82   94       99
1    81   91       76
2    78   92       98
3    54   57       74
4    79   71       89
5    64   93       75
6    95   51       96
7    88   87       83
8    79   76       64
9    88   83       51

In [38]:
score_table

array([[82, 94, 99],
       [81, 91, 76],
       [78, 92, 98],
       [54, 57, 74],
       [79, 71, 89],
       [64, 93, 75],
       [95, 51, 96],
       [88, 87, 83],
       [79, 76, 64],
       [88, 83, 51]])

**row-wise, column-wise의 argmax, argmin**

- np.argmax( axis=0 ) : axis가 0이면 ndarray.max()의 결과는 0차원을 없앤 결과가 나온다.
- np.argmax( axis=1 ) : axis가 1이면 ndarray.max()의 결과는 1차원을 없앤 결과가 나온다.

In [52]:
score_table.shape

(10, 3)

In [57]:
print(score_table.argmax(axis=0),score_table.argmax(axis=0).shape)

[6 0 0] (3,)

In [58]:
print(score_table.argmin(axis=1),score_table.argmin(axis=1).shape)

[0 2 0 0 1 0 1 2 2 2] (10,)

In [59]:
# axis=0, 과목별 최고점 학생 확인
print(score_table.argmax(axis=0),score_table.max(axis=0))

[6 0 0] [95 94 99]

In [61]:
# axis=1, 학생별 최고점 과목 확인
print(score_table.argmax(axis=1),score_table.max(axis=1))

[2 1 2 2 2 1 2 0 0 0] [99 91 98 74 89 93 96 88 79 88]