In [33]:
# 커맨드 (매직, 쉘 커맨드)
# %pwd : 경로
# %ls : 노트북 리스트
# %whos : 변수
# %reset : 변수 모두 제거
# !echo : 그대로 출력
# !ls : 노트북 리스트

a = 1
b = 2
c = 'python'

%pwd # : 노트북 경로 출력

'/Users/kimjeongseob/Desktop/0. 데이터사이언스스쿨/0. 코딩 연습 노트북'

In [22]:
%ls # : 디렉토리 노트북 리스트 출력

0401_practice_Python.ipynb  Untitled.ipynb

In [23]:
# : 노트북 내 변수 뭐뭐 있는지 출력
%whos

Variable   Type    Data/Info
----------------------------
a          int     1
b          int     2
c          str     python

In [24]:
# : 노트북 내 변수 모두 제거
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [25]:
%whos

Interactive namespace is empty.

In [26]:
!echo python

python

In [27]:
!echo 가나다

가나다

In [28]:
!echo echo

echo

In [29]:
!ls

0401_practice_Python.ipynb Untitled.ipynb

In [30]:
%ls

0401_practice_Python.ipynb  Untitled.ipynb

# 식별자 -> 컨벤션
# 함수, 변수 선언 -> snake case : underscore 활용
# 클래스 선언 -> camel case : 대소문자 활용

- 자료형, 데이터 타입 -> 7가지 (기본 타입 int, str, float, bool / 컬렉션 타입 list, tuple, dict)

In [34]:
g = '12344567'
g[::-1]

'76544321'

In [35]:
g[::1][::-1]

'76544321'

In [36]:
g[0:5:2]

'134'

In [37]:
g[0:5:2][::-1]

'431'

In [68]:
# 데이터 타입 중, string타입의 경우, 변수 내 함수가 숨겨져 있음. 따라서, 변수.함수 로 내재함수를 사용 가능.

data = '  I a m t h e k i n g .  '
data[::-1]

'  . g n i k e h t m a I  '

In [82]:
ls = [1,2,3,4,5]
ls.append(6)
ls = ls[::-1]
ls
ls.pop()
ls = ls[::-1]
ls
ls1 = ls #얕은 복사 : ls의 주소만 복사(ls가 바뀌면 복사한 ls1도 바뀜)
ls2 = ls.copy() #깊은 복사 : ls의 값복사(ls가 바뀌어도, ls2는 복사한 기존의 값 그대로 유지)
ls[1] = 20
print(ls,ls1,ls2)

[2, 20, 4, 5, 6] [2, 20, 4, 5, 6] [2, 3, 4, 5, 6]

In [128]:
import random
a = random.randint(1,100)
b = random.choice(list(range(1,11,4)))
b

5

In [171]:
a = ['seoul','tokyo','paris']
type(a)

list

In [175]:
join1 = ''.join(a)
print(join1)

seoultokyoparis

In [173]:
b = 'Iwamwthewking.'
b.split('w')

['I', 'am', 'the', 'king.']

In [176]:
c = b.split('w')
join2 = ''.join(c)
print(join2)

Iamtheking.

In [196]:
ls1 = [1,2,3,4,5]
ls1.append(6)
ls1

[1, 2, 3, 4, 5, 6]

In [202]:
ls2 = ['data','frame']

In [234]:
import random
a = []
idx = 0

while True:
    idx += 1
    
    if idx == 11:
        break
    
    b = random.randint(1,100)
    a.append(b)
    
b = a.copy()

[88, 86, 83, 65, 53, 34, 33, 15, 4, 4]

In [249]:
a = ['seoul','tokyo','paris']
b = ['1','2','3']
c = dict(zip(a,b))
print(c.keys(),c.values(),c.items(),sep='\t')
c['seoul']
del c['seoul']
c.update({'nagoya':'4'})
'daegu' in c
'nagoya' in c

dict_keys(['seoul', 'tokyo', 'paris'])	dict_values(['1', '2', '3'])	dict_items([('seoul', '1'), ('tokyo', '2'), ('paris', '3')])

True

In [250]:
%whos

Variable   Type      Data/Info
------------------------------
a          list      n=3
b          list      n=3
c          dict      n=3
data       str         I a m t h e k i n g .
g          str       12344567
idx        int       11
join1      str       seoultokyoparis
join2      str       Iamtheking.
ls         list      n=6
ls1        str       [1, 2, 3, 4, 5, 6, 'data'<...>'frame', 'data', 'frame']
ls2        list      n=2
random     module    <module 'random' from '/U<...>lib/python3.7/random.py'>

In [251]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [252]:
%whos

Interactive namespace is empty.

In [253]:
a = (1,2,3)
a

(1, 2, 3)

In [259]:
b = (4,5)
a+b

(1, 2, 3, 4, 5)

In [260]:
a + (6,7)

(1, 2, 3, 6, 7)

In [261]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [262]:
a = (80,72,55)
b = sum(a)/len(a)
b

69.0

In [267]:
a = int(input("숫자를 입력하세요 : "))
if a%2:
    print("홀수")
    
else:
    print("짝수")

숫자를 입력하세요 : 13
홀수

In [271]:
pin = '881120-1068234'
yyyymmdd = pin[0:6]
num = pin[7:15]
print(yyyymmdd)
print(num)

881120
1068234

In [272]:
a = 'a:b:c:d'
b = a.replace(':','#')
b

'a#b#c#d'

In [284]:
a = [1,3,5,4,2]

In [285]:
a.sort()

In [286]:
print(a)

[1, 2, 3, 4, 5]

In [287]:
a.sort(reverse=True)
print(a)

[5, 4, 3, 2, 1]

In [288]:
a = ['life','is','too','short']
a

['life', 'is', 'too', 'short']

In [289]:
' '.join(a)

'life is too short'

In [296]:
a = (1,2,3)
a + (4,)

(1, 2, 3, 4)

In [300]:
# a = {1,'1',(1,),[1]}
b = {1,'1',(1,)}
b

{(1,), 1, '1'}

In [304]:
a = [1,1,1,2,3,4,5,5,6]
b = set(a)
c = list(b)
c

[1, 2, 3, 4, 5, 6]

In [308]:
# 1 ~ 1000 중 3의 배수 합 구하기

result = 0
i = 0
while i <= 1000:
    i += 1
    
    if i%3==0:
        result += i
    else:
        continue

print(result)

166833

In [312]:
# 1~5까지 하나씩 늘어나며 출력

cnt = 1

while cnt<=5:
    
    print('*'*cnt)
    cnt+=1

*
**
***
****
*****

In [313]:
# for문으로 1~100까지 숫자 출력 (print end=' '로..)
a = list(range(1,101))
for i in a:
    print(i,end=' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [319]:
numbers = [1,2,3,4,5]
result = []

In [321]:
result = [i*2 for i in numbers if i%2]
print(result)

[2, 6, 10]

In [331]:
# 99단
i=[]
j=[]
idx = list(range(1,10))
sum_=[]

for i in idx:
        for j in idx:            
            sum_.append(i*j)
            
print(sum_,end=' ')

[1, 2, 3, 4, 5, 6, 7, 8, 9, 2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [337]:
# 99단 (리스트 내포)
idx = list(range(1,10))

result = [print(i*j,end=', ') for i in idx for j in idx]

1, 2, 3, 4, 5, 6, 7, 8, 9, 2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81,

In [1]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? h
Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [2]:
%whos

Interactive namespace is empty.

In [3]:
%pwd

'/Users/kimjeongseob/Desktop/0. 데이터사이언스스쿨/0. 코딩 연습 노트북'

In [4]:
%ls

0401_practice_Python.ipynb

In [ ]:
#list comprehension 1) else까지 / 2) for + 조건
#1) [표현식 if 조건 else 표현2]
#2) [표현식 for i in data if 조건]
#   [     for i in data if 조건2]

In [6]:
#홀수인지 짝수인지 출력
ls = [0,1,2,3]
result = ['홀수' if data%2 else '짝수' for data in ls]
result

['짝수', '홀수', '짝수', '홀수']

In [7]:
#파라미터, 아규먼트 -> 아규먼트가 주는 것(함수 호출시), 파라미터가 받는 것(함수 선언시)

In [12]:
#디폴트 파라미터 -> 함수 선언시, def plus(num1, num2=100) 식으로 미리 기본값 저장해놓는 것.
#함수 호출 시, 그냥 다른 숫자 넣으면 무시됨. 단, 안 넣으면 디폴트값 적용한다.

In [13]:
def plus(num1,num2=100):
    return num1+num2

plus(10, 1)

11

In [14]:
#return => 함수 반환 값 저장해서 향후 또 사용하려면.. 근데 그냥 return해서 변수에 저장해놓는 게 좋은 코드다.

In [47]:
#가변길이 파라미터 (*args, **kwargs)
def plus(*args):
    return sum(args)

plus(1,2,3,4,5,5,67,8,8)

def plus2(**kwargs):
    return sum(list(kwargs.values()))

plus2(num1=1,num2=2,num3=3)

6

In [48]:
def plus3(*args, **kwargs):
    return sum(args) + sum(list(kwargs.values()))

plus3(1,2,3,4,5,num1=100,num2=1000)

1115

In [49]:
#가변길이 아규먼트 (*args, **kwargs)

In [50]:
data = [1,2,3,4]
data2 = {'b':100,'c':200}

def plus10(a,b,c):
    return a+b+c


plus10(1,**data2)

301

In [51]:
def plus11(a,b,c,d):
    return a+b+c+d

plus11(*data)

10

In [52]:
#가변길이 파라미터 활용

def sum_(*args):
    return sum(args)

sum_(1,2,3,4,5,6,7)

28

In [59]:
def sum_(**kwargs):
    return sum(kwargs.values())
    
sum_(a=1,b=2)

3

In [60]:
# 가변길이 아규먼트 활용

data = [1,2,3]

def plus1(a,b,c):
    return a+b+c

plus1(*data)

6

In [68]:
%time
data = {'a':1,'b':2,'c':3}

def plus2(a,b,c,d):
    return a+b+c+d

plus2(**data,d=1)

CPU times: user 2 µs, sys: 0 ns, total: 2 µs
Wall time: 11 µs

7

In [109]:
# 예제
#'python Is the best Language' -> 'Python is the best language.'
#입력받기 -> 모두 소문자 변경 -> 앞글자만 대문자 변경 -> 출력

sentence = input('Input sentence : ')
result = ''

sentence = sentence.lower()
sentence = sentence.replace(sentence[0],sentence[0].upper())

if sentence[-1] == '.':
    result = sentence
    print(result)

else:
    result = sentence + '.'
    print(result)

Input sentence : python Is the best Language
Python is the best language.

In [157]:
# 예제
# 중복이 되지 않는 6자리 로또 번호 생성하라 1)난수 1개 생성 -> 2) 난수 1개 생성 not in 리스트 이면 추가 (5번)

import random
number=[]

number.append(random.randint(1,45))
        
while True:
    a = random.randint(1,45)
    if a not in number:
        number.append(a)
        
    if len(number)==6:
        break
        
number

[8, 34, 42, 21, 4, 15]