# 0. 데이터 셋 load

In [2]:
# price, content rating, genres

In [97]:
data = pd.read_csv("/Users/kimjeongseob/Desktop/Github upload/5.EDA/googleplaystore.csv")
data.Price.unique()

array(['0', '$4.99', '$3.99', '$6.99', '$1.49', '$2.99', '$7.99', '$5.99',
       '$3.49', '$1.99', '$9.99', '$7.49', '$0.99', '$9.00', '$5.49',
       '$10.00', '$24.99', '$11.99', '$79.99', '$16.99', '$14.99',
       '$1.00', '$29.99', '$12.99', '$2.49', '$10.99', '$1.50', '$19.99',
       '$15.99', '$33.99', '$74.99', '$39.99', '$3.95', '$4.49', '$1.70',
       '$8.99', '$2.00', '$3.88', '$25.99', '$399.99', '$17.99',
       '$400.00', '$3.02', '$1.76', '$4.84', '$4.77', '$1.61', '$2.50',
       '$1.59', '$6.49', '$1.29', '$5.00', '$13.99', '$299.99', '$379.99',
       '$37.99', '$18.99', '$389.99', '$19.90', '$8.49', '$1.75',
       '$14.00', '$4.85', '$46.99', '$109.99', '$154.99', '$3.08',
       '$2.59', '$4.80', '$1.96', '$19.40', '$3.90', '$4.59', '$15.46',
       '$3.04', '$4.29', '$2.60', '$3.28', '$4.60', '$28.99', '$2.95',
       '$2.90', '$1.97', '$200.00', '$89.99', '$2.56', '$30.99', '$3.61',
       '$394.99', '$1.26', 'Everyone', '$1.20', '$1.04'], dtype=object)

In [61]:
data.loc[10472]

App               Life Made WI-Fi Touchscreen Photo Frame
Category                                              1.9
Rating                                                 19
Reviews                                              3.0M
Size                                               1,000+
Installs                                             Free
Type                                                    0
Price                                            Everyone
Content Rating                                        NaN
Genres                                  February 11, 2018
Last Updated                                       1.0.19
Current Ver                                    4.0 and up
Android Ver                                           NaN
Name: 10472, dtype: object

In [18]:
index_ = [i for i in range(1,10841+1)]
data['index_'] = 0
data['index_'] = index_
data = pd.DataFrame(data,index=index_)
data.head(5)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,index_
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up,2.0
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up,3.0
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up,4.0
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up,5.0
5,Paper flowers instructions,ART_AND_DESIGN,4.4,167,5.6M,"50,000+",Free,0,Everyone,Art & Design,"March 26, 2017",1.0,2.3 and up,6.0

In [19]:
columns = ['Price','Content Rating','Genres']

# 0. 데이터 컬럼 설정 - price, Content rating, Genres

In [20]:
data[columns]

      Price Content Rating                     Genres
1         0       Everyone  Art & Design;Pretend Play
2         0       Everyone               Art & Design
3         0           Teen               Art & Design
4         0       Everyone    Art & Design;Creativity
5         0       Everyone               Art & Design
...     ...            ...                        ...
10837     0       Everyone                  Education
10838     0       Everyone                    Medical
10839     0     Mature 17+          Books & Reference
10840     0       Everyone                  Lifestyle
10841   NaN            NaN                        NaN

[10841 rows x 3 columns]

In [21]:
columns

['Price', 'Content Rating', 'Genres']

# 1. 데이터 셋 확인

In [22]:
# 1-1) 변수확인

### 1-1) 독립, 종속변수 확인

- Price, Content Rating, Genres 모두 독립변수

### 1-1) 각 변수의 유형 확인(범주형, 연속형)

- Price : 연속형
- Content Rating : 범주형
- Genres : 범주형

### 1-1) 각 변수의 데이터타입 확인, 수정

In [23]:
data.Price = pd.to_numeric(data.Price, errors='coerce')

data[columns].dtypes

Price             float64
Content Rating     object
Genres             object
dtype: object

In [24]:
data[columns]

       Price Content Rating                     Genres
1        0.0       Everyone  Art & Design;Pretend Play
2        0.0       Everyone               Art & Design
3        0.0           Teen               Art & Design
4        0.0       Everyone    Art & Design;Creativity
5        0.0       Everyone               Art & Design
...      ...            ...                        ...
10837    0.0       Everyone                  Education
10838    0.0       Everyone                    Medical
10839    0.0     Mature 17+          Books & Reference
10840    0.0       Everyone                  Lifestyle
10841    NaN            NaN                        NaN

[10841 rows x 3 columns]

In [25]:
# 1-2) raw 데이터 확인

### 1-2) 단변수 분석

- 변수 1개에 대한 기술통계량 분석

In [26]:
data.describe(include = 'all')

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,index_
count,10840,10840,9366.000000,10840,10840,10840,10839,10039.0,10839,10840,10840,10832,10837,10840.000000
unique,9659,34,NaN,6002,462,22,3,NaN,6,120,1378,2832,33,NaN
top,ROBLOX,FAMILY,NaN,0,Varies with device,"1,000,000+",Free,NaN,Everyone,Tools,"August 3, 2018",Varies with device,4.1 and up,NaN
freq,9,1972,NaN,596,1695,1579,10038,NaN,8713,842,326,1459,2451,NaN
mean,NaN,NaN,4.193348,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,5421.500000
std,NaN,NaN,0.537459,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,3129.382793
min,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,2.000000
25%,NaN,NaN,4.000000,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,2711.750000
50%,NaN,NaN,4.300000,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,5421.500000
75%,NaN,NaN,4.500000,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,8131.250000
max,NaN,NaN,19.000000,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,10841.000000

In [30]:
data[columns].dtypes

Price             float64
Content Rating     object
Genres             object
dtype: object

In [32]:
data[columns].describe(include = 'all')

          Price Content Rating Genres
count   10039.0          10839  10840
unique      NaN              6    120
top         NaN       Everyone  Tools
freq        NaN           8713    842
mean        0.0            NaN    NaN
std         0.0            NaN    NaN
min         0.0            NaN    NaN
25%         0.0            NaN    NaN
50%         0.0            NaN    NaN
75%         0.0            NaN    NaN
max         0.0            NaN    NaN

### 1-2) 이변수 분석

- 변수 2개 간 관계

### 1-2) 셋 이상의 변수 분석

- 변수 3개 이상의 분석

# 2. 결측값 처리

- 결측값 처리 방법
    - 삭제, 다른 값으로 대체, 예측값 삽입

In [34]:
# 결측값 확인

data[columns].isnull().sum()

Price             802
Content Rating      2
Genres              1
dtype: int64

In [44]:
data_Price_null = data[data['Price'].isnull()]
data_CountRating_null = data[data['Content Rating'].isnull()]
data_Genres_null = data[data['Genres'].isnull()]

In [46]:
data_Price_null.head(5)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,index_
234,TurboScan: scan documents and receipts in PDF,BUSINESS,4.7,11442,6.8M,"100,000+",Paid,NaN,Everyone,Business,"March 25, 2018",1.5.2,4.0 and up,235.0
235,Tiny Scanner Pro: PDF Doc Scan,BUSINESS,4.8,10295,39M,"100,000+",Paid,NaN,Everyone,Business,"April 11, 2017",3.4.6,3.0 and up,236.0
290,TurboScan: scan documents and receipts in PDF,BUSINESS,4.7,11442,6.8M,"100,000+",Paid,NaN,Everyone,Business,"March 25, 2018",1.5.2,4.0 and up,291.0
291,Tiny Scanner Pro: PDF Doc Scan,BUSINESS,4.8,10295,39M,"100,000+",Paid,NaN,Everyone,Business,"April 11, 2017",3.4.6,3.0 and up,292.0
427,Puffin Browser Pro,COMMUNICATION,4.0,18247,Varies with device,"100,000+",Paid,NaN,Everyone,Communication,"July 5, 2018",7.5.3.20547,4.1 and up,428.0

In [47]:
data_CountRating_null.head(5)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,index_
10472,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3.0M,"1,000+",Free,0,NaN,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN,10473.0
10841,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
data_Genres_null.head(5)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,index_
10841,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
# data_1 = 10841행(모두 null값) 제거

data_1 = data.drop([10841])

In [54]:
data_1.shape

(10840, 14)

In [55]:
data.shape

(10841, 14)

In [65]:
# 10841행 제거 후 결측값 확인

data_1[columns].isnull().sum()

Price             801
Content Rating      1
Genres              0
dtype: int64

In [72]:
# data_2 = 10472행 제거

data_2 = data_1.drop([10472])

In [73]:
data_2.shape

(10839, 14)

In [74]:
# 10472행 제거 후 결측값 확인

data_2[columns].isnull().sum()

Price             800
Content Rating      0
Genres              0
dtype: int64

In [76]:
# Price 결측값 관리

data_2_Price_null = data_2[data_2['Price'].isnull()]

In [80]:
# Price 결측값 채울 값을 뭘로 정할지 고민위해 다시 한 번 디스크라이브

data_2[columns].describe(include='all')

# 이상하다. Price가 다 0이다. 무료앱이면 0이긴 한데, 다 0인가..? 확인해보자

          Price Content Rating Genres
count   10039.0          10839  10839
unique      NaN              6    119
top         NaN       Everyone  Tools
freq        NaN           8713    842
mean        0.0            NaN    NaN
std         0.0            NaN    NaN
min         0.0            NaN    NaN
25%         0.0            NaN    NaN
50%         0.0            NaN    NaN
75%         0.0            NaN    NaN
max         0.0            NaN    NaN

In [95]:
# Price의 unique 값들 먼저 보자

data_2.Price.unique()

array([ 0., nan])

# 3. 이상값 처리

- 이상값 처리 방법
    - 삭제, 대체, 변수화, 리샘플링, 케이스를 분리하여 분석