###### 기본데이터 with pca

In [1]:
from sqlalchemy import create_engine
import pymysql

db_connection_str = 'mysql+pymysql://root:Lwglwk5120!@54.180.4.238/Linear_Regression'
db_connection = create_engine(db_connection_str)

df_sql = pd.read_sql('SELECT * FROM api_football', con=db_connection)

In [2]:
is_position = df_sql['position'] != 'Goalkeeper'
df_sql  = df_sql[is_position]
df_sql

,player_name,position,age,nationality,height,weight,rating,team_name,league,season,...,penalty_commited,penalty_success,penalty_missed,penalty_saved,games_appearences,games_minutes_played,games_lineups,substitutes_in,substitutes_out,substitutes_bench
1,Ahmet Can Tekin,Midfielder,22,Turkey,0,0,0,1074 Ã‡ankÄ±rÄ±spor,Cup,2019-2020,...,0,0,0,0,2,180,2,0,0,0
2,AnÄ±l SarÄ±oÄŸlu,Defender,23,Turkey,0,0,0,1074 Ã‡ankÄ±rÄ±spor,Cup,2019-2020,...,0,0,0,0,1,81,1,0,1,0
3,AnÄ±l SarÄ±oÄŸlu,Defender,23,Turkey,0,0,0,1074 Ã‡ankÄ±rÄ±spor,Cup,2018-2019,...,0,0,0,0,1,90,1,0,0,0
4,AnÄ±l SarÄ±oÄŸlu,Defender,23,Turkey,0,0,0,1074 Ã‡ankÄ±rÄ±spor,Cup,2017-2018,...,0,0,0,0,1,120,1,0,0,0
5,BatÄ±nay Ak,Midfielder,25,Turkey,0,0,0,1074 Ã‡ankÄ±rÄ±spor,Cup,2019-2020,...,0,0,0,0,2,152,2,0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
339745,Vladislav Kormishin,Attacker,24,Russia,184,73,0,,Cup,2017-2018,...,0,0,0,0,1,40,0,1,0,0
339746,Ilya Shvedyuk,Midfielder,24,Russia,178,67,0,,Cup,2017-2018,...,0,0,0,0,3,255,3,0,2,0
339747,Dmitriy Bakay,Midfielder,23,Russia,177,68,0,,Cup,2018-2019,...,0,0,0,0,1,4,0,1,0,1
339748,Mikhail Belov,Midfielder,28,Russia,175,71,0,,Cup,2017-2018,...,0,0,0,0,1,90,1,0,0,0
339749,Aleksandr Bazhutov,Defender,26,Russia,175,73,0,,Cup,2017-2018,...,0,0,0,0,1,80,1,0,0,0

In [3]:
df_personal_info = df_sql[['player_name','position','age','nationality','height','weight','team_name','league','season','rating']]
df_original = df_sql.groupby('player_name').sum()
df_original.tail(3)

,age,height,weight,rating,captain,shots_total,shots_on,goals_total,goals_conceded,goals_assists,...,penalty_commited,penalty_success,penalty_missed,penalty_saved,games_appearences,games_minutes_played,games_lineups,substitutes_in,substitutes_out,substitutes_bench
player_name,,,,,,,,,,,,,,,,,,,,,
È˜tefÄƒniÅ£Äƒ Sava,17,0,0,0,0,0,0,0,0,0,...,0,0,0,0,6,231,3,3,2,0
Ðlbert Bogatyrev,75,528,222,0,0,0,0,0,0,0,...,0,0,0,0,6,240,2,4,1,6
Ð†van GolovkÑ–n,40,360,150,0,0,0,0,0,0,0,...,0,0,0,0,1,46,1,0,1,0

In [4]:
db_connection_str = 'mysql+pymysql://root:Lwglwk5120!@54.180.4.238/Linear_Regression'
db_connection = create_engine(db_connection_str)
df0 = pd.read_sql('SELECT * FROM market_instagram', con=db_connection)
df0['value'] = df0['value'].str.replace(pat=r'[â‚¬@m\r]', repl = r' ', regex=True).astype(np.float)
df0

       player_name  value   follower
0       C. Ronaldo   60.0  222106900
1         L. Messi  112.0  154554857
2           Neymar  128.0  139025980
3    J. RodrÃ­guez   32.0   45619171
4          G. Bale   32.0   43242138
..             ...    ...        ...
495      J. Mateta   17.5        217
496       Emerson1   24.0         90
497       Emerson2   18.0          0
498    K. Demirbay   19.0          0
499     Rodri_city   64.0   11905800

[500 rows x 3 columns]

In [5]:
df_original = pd.merge(df_original, df0, on='player_name', how='inner')
df_original.drop(['height', 'weight','rating', 'captain','age'], axis=1, inplace=True)
df_original

,player_name,shots_total,shots_on,goals_total,goals_conceded,goals_assists,passes_total,passes_key,passes_accuracy,tackles_total,...,penalty_missed,penalty_saved,games_appearences,games_minutes_played,games_lineups,substitutes_in,substitutes_out,substitutes_bench,value,follower
0,A. Anguissa,43,10,1,0,0,1722,21,256,94,...,0,0,109,6985,72,37,20,46,20.0,67879
1,A. Bastoni,11,4,2,0,0,1454,13,489,37,...,0,0,46,3192,33,13,2,57,31.5,232370
2,A. Belotti,286,107,45,0,10,1251,97,408,47,...,3,0,107,9138,101,6,7,7,32.0,740918
3,A. Christensen,31,5,0,0,1,4731,14,1097,84,...,0,0,91,7339,82,9,15,62,24.0,601838
4,A. Correa,173,74,20,0,19,2059,134,803,68,...,0,0,136,7889,85,51,59,54,32.0,652886
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
454,Y. Atal,57,24,7,0,1,1210,33,238,67,...,1,0,52,3808,42,10,6,16,20.0,1955121
455,Y. Carrasco,51,17,4,0,6,444,33,398,0,...,0,0,35,1761,17,18,13,25,22.5,797767
456,Y. Mina,37,13,3,0,2,1971,12,613,63,...,0,0,50,3799,43,7,4,23,20.0,3339896
457,Y. Poulsen,174,65,29,0,23,1457,104,642,34,...,0,0,121,7775,82,39,25,50,24.0,109000
458,Y. Tielemans,161,57,14,0,13,3645,111,626,95,...,0,0,114,8535,98,16,29,25,44.0,282254

In [6]:
df_original['games_played'] = round(df_original['games_minutes_played'] / 90,4)

In [7]:
df_copy = df_original.copy()
df_copy = df_copy[df_copy['games_played'] >= 50]
df_copy

,player_name,shots_total,shots_on,goals_total,goals_conceded,goals_assists,passes_total,passes_key,passes_accuracy,tackles_total,...,penalty_saved,games_appearences,games_minutes_played,games_lineups,substitutes_in,substitutes_out,substitutes_bench,value,follower,games_played
0,A. Anguissa,43,10,1,0,0,1722,21,256,94,...,0,109,6985,72,37,20,46,20.0,67879,77.6111
2,A. Belotti,286,107,45,0,10,1251,97,408,47,...,0,107,9138,101,6,7,7,32.0,740918,101.5333
3,A. Christensen,31,5,0,0,1,4731,14,1097,84,...,0,91,7339,82,9,15,62,24.0,601838,81.5444
4,A. Correa,173,74,20,0,19,2059,134,803,68,...,0,136,7889,85,51,59,54,32.0,652886,87.6556
6,A. Di MarÃ­a,321,116,49,0,39,3358,232,640,45,...,0,125,9373,112,13,61,25,32.0,11513791,104.1444
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
451,W. Zaha,188,66,22,0,11,1993,137,395,109,...,0,95,8343,92,3,6,3,44.0,1028085,92.7000
452,Wesley,45,24,35,0,1,383,19,220,13,...,0,113,8375,98,15,48,29,24.0,57900,93.0556
453,Willian,256,98,28,0,28,3850,301,866,77,...,0,146,9005,103,43,54,52,22.5,8983450,100.0556
457,Y. Poulsen,174,65,29,0,23,1457,104,642,34,...,0,121,7775,82,39,25,50,24.0,109000,86.3889
458,Y. Tielemans,161,57,14,0,13,3645,111,626,95,...,0,114,8535,98,16,29,25,44.0,282254,94.8333

In [8]:
game_played =pd.DataFrame(df_copy['games_played'])
per_game = round(df_copy[['shots_total', 'shots_on', 'goals_total', 'goals_conceded',
       'goals_assists', 'passes_total', 'passes_key', 'passes_accuracy',
       'tackles_total', 'tackles_blocks', 'tackles_interceptions',
       'duels_total', 'duels_won', 'dribbles_attempts', 'dribbles_success',
       'fouls_drawn', 'fouls_committed', 'cards_yellow', 'cards_yellowred',
       'cards_red', 'penalty_won', 'penalty_commited', 'penalty_success',
       'penalty_missed', 'penalty_saved', 'games_appearences',
       'games_lineups', 'substitutes_in',
       'substitutes_out', 'substitutes_bench']].div(df_copy['games_played'], axis=0),4)

df_copy = pd.concat([df_copy[['player_name','value','follower']], per_game], axis=1)
df_copy = pd.concat([df_copy, game_played], axis=1)
df_copy = df_copy.set_index('player_name')
df_copy

,value,follower,shots_total,shots_on,goals_total,goals_conceded,goals_assists,passes_total,passes_key,passes_accuracy,...,penalty_commited,penalty_success,penalty_missed,penalty_saved,games_appearences,games_lineups,substitutes_in,substitutes_out,substitutes_bench,games_played
player_name,,,,,,,,,,,,,,,,,,,,,
A. Anguissa,20.0,67879,0.5540,0.1288,0.0129,0.0,0.0000,22.1875,0.2706,3.2985,...,0.0000,0.0000,0.0000,0.0,1.4044,0.9277,0.4767,0.2577,0.5927,77.6111
A. Belotti,32.0,740918,2.8168,1.0538,0.4432,0.0,0.0985,12.3211,0.9554,4.0184,...,0.0000,0.0985,0.0295,0.0,1.0538,0.9947,0.0591,0.0689,0.0689,101.5333
A. Christensen,24.0,601838,0.3802,0.0613,0.0000,0.0,0.0123,58.0175,0.1717,13.4528,...,0.0000,0.0000,0.0000,0.0,1.1160,1.0056,0.1104,0.1839,0.7603,81.5444
A. Correa,32.0,652886,1.9736,0.8442,0.2282,0.0,0.2168,23.4897,1.5287,9.1609,...,0.0114,0.0000,0.0000,0.0,1.5515,0.9697,0.5818,0.6731,0.6160,87.6556
A. Di MarÃ­a,32.0,11513791,3.0823,1.1138,0.4705,0.0,0.3745,32.2437,2.2277,6.1453,...,0.0192,0.0096,0.0096,0.0,1.2003,1.0754,0.1248,0.5857,0.2401,104.1444
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
W. Zaha,44.0,1028085,2.0280,0.7120,0.2373,0.0,0.1187,21.4995,1.4779,4.2611,...,0.0000,0.0000,0.0000,0.0,1.0248,0.9924,0.0324,0.0647,0.0324,92.7000
Wesley,24.0,57900,0.4836,0.2579,0.3761,0.0,0.0107,4.1158,0.2042,2.3642,...,0.0000,0.0000,0.0107,0.0,1.2143,1.0531,0.1612,0.5158,0.3116,93.0556
Willian,22.5,8983450,2.5586,0.9795,0.2798,0.0,0.2798,38.4786,3.0083,8.6552,...,0.0000,0.0500,0.0000,0.0,1.4592,1.0294,0.4298,0.5397,0.5197,100.0556
Y. Poulsen,24.0,109000,2.0141,0.7524,0.3357,0.0,0.2662,16.8656,1.2039,7.4315,...,0.0000,0.0116,0.0000,0.0,1.4006,0.9492,0.4514,0.2894,0.5788,86.3889
Y. Tielemans,44.0,282254,1.6977,0.6011,0.1476,0.0,0.1371,38.4359,1.1705,6.6011,...,0.0000,0.0105,0.0000,0.0,1.2021,1.0334,0.1687,0.3058,0.2636,94.8333

In [9]:
df_copy = df_copy.reset_index()

In [10]:
dfx = df_personal_info.groupby('player_name').mean().reset_index()

In [11]:
df_copy = pd.merge(df_copy, dfx, on='player_name', how='inner').set_index('player_name')

In [12]:
df_copy = df_copy.reset_index()

In [13]:
df_copy_info = df_copy[['player_name','value','follower','age','rating']]
df_copy_atk = df_copy[['goals_total', 'goals_assists']]
df_copy_def = df_copy[['tackles_blocks','tackles_interceptions']]
df_copy_contribution = df_copy[['duels_won','dribbles_success','fouls_drawn', 'shots_on', 'passes_key']]
df_copy_mistake = df_copy[['fouls_committed', 'cards_yellow', 'cards_yellowred', 'cards_red']]

In [14]:
from sklearn.decomposition import PCA
pca = PCA(n_components=1) # 주성분을 몇개로 할지 결정
# 주성분으로 이루어진 데이터 프레임 구성
printcipalComponents = pca.fit_transform(df_copy_atk)
principalDf = pd.DataFrame(data=printcipalComponents, columns = ['attacks'])

printcipalComponents1 = pca.fit_transform(df_copy_def)
principalDf1 = pd.DataFrame(data=printcipalComponents1, columns = ['defenses'])

printcipalComponents2 = pca.fit_transform(df_copy_contribution)
principalDf2 = pd.DataFrame(data=printcipalComponents2, columns = ['contributions'])

printcipalComponents3 = pca.fit_transform(df_copy_mistake)
principalDf3 = pd.DataFrame(data=printcipalComponents3, columns = ['mistakes'])

In [15]:
merged_1 = pd.concat([principalDf, principalDf1], axis=1)
merged_2 = pd.concat([merged_1, principalDf2], axis=1)
merged_3 = pd.concat([merged_2, principalDf3], axis=1)
pca_data = pd.concat([df_copy_info, merged_3], axis=1).set_index('player_name')

pca_data

,value,follower,age,rating,attacks,defenses,contributions,mistakes
player_name,,,,,,,,
A. Anguissa,20.0,67879,25.000000,2.333333,-0.240003,-0.083025,-2.644996,-0.325285
A. Belotti,32.0,740918,27.000000,5.250000,0.200689,-0.665089,1.666974,0.616843
A. Christensen,24.0,601838,24.000000,6.000000,-0.248958,0.439726,-0.758956,-0.492371
A. Correa,32.0,652886,25.000000,7.000000,0.027249,-0.004717,1.317846,0.586348
A. Di MarÃ­a,32.0,11513791,32.000000,4.833333,0.303934,-0.520933,-2.016600,-0.657631
...,...,...,...,...,...,...,...,...
W. Zaha,44.0,1028085,28.000000,3.888889,0.008609,-0.601840,5.235182,0.392626
Wesley,24.0,57900,23.076923,1.615385,0.111751,-0.898557,-4.140548,-0.493432
Willian,22.5,8983450,32.000000,6.153846,0.094382,-0.419104,1.022254,-0.443761
Y. Poulsen,24.0,109000,26.000000,6.545455,0.144265,-0.636136,2.256770,0.671615
Y. Tielemans,44.0,282254,23.000000,4.384615,-0.072392,0.044029,0.550095,0.144939

In [16]:
pca_data.follower = np.log(pca_data.follower)
pca_data.follower = pca_data.follower.replace(-np.inf,0)

In [17]:
pca_data.corr()[pca_data.corr() > 0.5]

,value,follower,age,rating,attacks,defenses,contributions,mistakes
value,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
follower,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
age,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
rating,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
attacks,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
defenses,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
contributions,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
mistakes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [18]:
pca_data_x = pca_data.drop('value', axis=1)
pca_data_y = pca_data.value

In [19]:
N = len(pca_data)
ratio = 0.7
np.random.seed(0)
idx_train = np.random.choice(np.arange(N), np.int(ratio * N))
idx_test = list(set(np.arange(N)).difference(idx_train))

df_train = pca_data.iloc[idx_train]
df_test = pca_data.iloc[idx_test]

In [20]:
import statsmodels.api as sm

model_pca = sm.OLS.from_formula('value ~ attacks+np.log(attacks)+defenses+mistakes+np.log(mistakes)+\
contributions+age+rating+follower',data = df_train).fit()
print(model_pca.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  value   R-squared:                       0.471
Model:                            OLS   Adj. R-squared:                  0.254
Method:                 Least Squares   F-statistic:                     2.172
Date:                Mon, 22 Jun 2020   Prob (F-statistic):             0.0665
Time:                        17:43:55   Log-Likelihood:                -137.01
No. Observations:                  32   AIC:                             294.0
Df Residuals:                      22   BIC:                             308.7
Df Model:                           9
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
Intercept           71.4120     51.117      1.397      0.176     -34.599     177.423
attacks             36.0528     54.888      0.657      0.518     -77.778     149.883
np.log(attacks)      8.2429      7.574      1.088      0.288      -7.465      23.951
defenses            -0.1594     18.085     -0.009      0.993     -37.665      37.346
mistakes           -21.0019     33.451     -0.628      0.537     -90.376      48.372
np.log(mistakes)     6.5316      8.364      0.781      0.443     -10.815      23.878
contributions        4.0018      3.489      1.147      0.264      -3.234      11.238
age                 -3.8780      1.811     -2.142      0.044      -7.633      -0.123
rating               0.3296      5.068      0.065      0.949     -10.181      10.841
follower             6.7508      2.410      2.801      0.010       1.752      11.749
==============================================================================
Omnibus:                       12.320   Durbin-Watson:                   1.656
Prob(Omnibus):                  0.002   Jarque-Bera (JB):               11.835
Skew:                           1.244   Prob(JB):                      0.00269
Kurtosis:                       4.639   Cond. No.                         480.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [21]:
df_test = pd.DataFrame(df_test)

pred = model_pca.predict(df_test)

rss = ((df_test.value - pred) ** 2).sum()
tss = ((df_test.value - df_test.value.mean()) ** 2).sum()
rsquared = 1 - rss / tss
rsquared

0.8408721994690883

In [22]:
from sklearn.model_selection import KFold

scores = np.zeros(5)
cv = KFold(5, shuffle=True, random_state=0)
for i, (idx_train, idx_test) in enumerate(cv.split(pca_data)):
    df_train = pca_data.iloc[idx_train]
    df_test = pca_data.iloc[idx_test]
       
    pred = model_pca.predict(df_test)
    rss = ((df_test.value - pred) ** 2).sum()
    tss = ((df_test.value - df_test.value.mean()) ** 2).sum()
    rsquared = 1 - rss / tss
    
    scores[i] = rsquared
    print("학습 R2 = {:.8f}, 검증 R2 = {:.8f}".format(model_pca.rsquared, rsquared))

학습 R2 = 0.47053583, 검증 R2 = 0.88310589
학습 R2 = 0.47053583, 검증 R2 = 0.87040378
학습 R2 = 0.47053583, 검증 R2 = 0.77786218
학습 R2 = 0.47053583, 검증 R2 = 0.94063954
학습 R2 = 0.47053583, 검증 R2 = 0.80865040

In [60]:
import statsmodels.api as sm

model = sm.OLS.from_formula('value ~ attacks+defenses+mistakes+\
contributions+age+rating+follower',data = df_train)
result = model.fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  value   R-squared:                       0.407
Model:                            OLS   Adj. R-squared:                  0.392
Method:                 Least Squares   F-statistic:                     26.93
Date:                Mon, 22 Jun 2020   Prob (F-statistic):           4.96e-28
Time:                        18:16:37   Log-Likelihood:                -1218.5
No. Observations:                 283   AIC:                             2453.
Df Residuals:                     275   BIC:                             2482.
Df Model:                           7
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
Intercept        18.7774     10.977      1.711      0.088      -2.833      40.388
attacks          47.6968      7.987      5.971      0.000      31.972      63.421
defenses          9.6201      2.986      3.222      0.001       3.743      15.498
mistakes         -8.0017      2.644     -3.026      0.003     -13.207      -2.797
contributions     1.4272      0.703      2.030      0.043       0.043       2.811
age              -1.9969      0.405     -4.935      0.000      -2.793      -1.200
rating            1.9642      1.024      1.918      0.056      -0.052       3.980
follower          4.3003      0.528      8.150      0.000       3.262       5.339
==============================================================================
Omnibus:                       98.550   Durbin-Watson:                   1.971
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              322.899
Skew:                           1.512   Prob(JB):                     7.65e-71
Kurtosis:                       7.270   Cond. No.                         328.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [62]:
df_test = pd.DataFrame(df_test)

pred = result.predict(df_test)

rss = ((df_test.value - pred) ** 2).sum()
tss = ((df_test.value - df_test.value.mean()) ** 2).sum()
rsquared = 1 - rss / tss
rsquared

0.2425623150596773

In [53]:
df_train

,value,follower,age,rating,attacks,defenses,contributions,mistakes
player_name,,,,,,,,
A. Anguissa,20.0,11.125482,25.000000,2.333333,-0.240003,-0.083025,-2.644996,-0.325285
A. Belotti,32.0,13.515645,27.000000,5.250000,0.200689,-0.665089,1.666974,0.616843
A. Christensen,24.0,13.307744,24.000000,6.000000,-0.248958,0.439726,-0.758956,-0.492371
A. Correa,32.0,13.389158,25.000000,7.000000,0.027249,-0.004717,1.317846,0.586348
A. Di MarÃ­a,32.0,16.259056,32.000000,4.833333,0.303934,-0.520933,-2.016600,-0.657631
...,...,...,...,...,...,...,...,...
W. Weghorst,21.5,10.787069,28.000000,6.000000,0.335885,-0.764669,-0.770226,0.033027
W. Zaha,44.0,13.843208,28.000000,3.888889,0.008609,-0.601840,5.235182,0.392626
Wesley,24.0,10.966473,23.076923,1.615385,0.111751,-0.898557,-4.140548,-0.493432
Willian,22.5,16.010895,32.000000,6.153846,0.094382,-0.419104,1.022254,-0.443761
Y. Tielemans,44.0,12.550563,23.000000,4.384615,-0.072392,0.044029,0.550095,0.144939

In [54]:
df_test

,value,follower,age,rating,attacks,defenses,contributions,mistakes
player_name,,,,,,,,
A. Hakimi,54.0,14.952833,22.0,7.111111,-0.008621,0.158995,-0.329441,-0.394255
A. RÃ¼diger,36.0,14.032886,27.0,5.500000,-0.192780,-0.019231,-0.940963,-0.115284
A. Telles,16.0,13.735593,28.0,5.300000,-0.033092,0.666014,-1.473533,-0.006267
A. Witsel,32.0,14.188262,31.0,6.000000,-0.104439,0.331895,-1.344833,-0.127577
Allan_NAP,72.0,13.067354,29.0,6.909091,-0.169249,0.052282,2.363937,0.491601
...,...,...,...,...,...,...,...,...
T. Delaney,17.5,11.893148,29.0,5.444444,-0.143334,0.978464,1.440089,1.001807
T. HernÃ¡ndez,32.0,14.405705,23.0,6.125000,-0.129679,0.382389,1.032939,0.085265
V. LindelÃ¶f,28.0,14.367820,26.0,6.384615,-0.219156,0.039651,-1.573855,-0.424983
V. Rongier,16.0,12.046643,26.0,4.100000,-0.158702,0.479965,-0.726464,0.494765
Y. Poulsen,24.0,11.599103,26.0,6.545455,0.144265,-0.636136,2.256770,0.671615

In [55]:
pca_data

,value,follower,age,rating,attacks,defenses,contributions,mistakes
player_name,,,,,,,,
A. Anguissa,20.0,11.125482,25.000000,2.333333,-0.240003,-0.083025,-2.644996,-0.325285
A. Belotti,32.0,13.515645,27.000000,5.250000,0.200689,-0.665089,1.666974,0.616843
A. Christensen,24.0,13.307744,24.000000,6.000000,-0.248958,0.439726,-0.758956,-0.492371
A. Correa,32.0,13.389158,25.000000,7.000000,0.027249,-0.004717,1.317846,0.586348
A. Di MarÃ­a,32.0,16.259056,32.000000,4.833333,0.303934,-0.520933,-2.016600,-0.657631
...,...,...,...,...,...,...,...,...
W. Zaha,44.0,13.843208,28.000000,3.888889,0.008609,-0.601840,5.235182,0.392626
Wesley,24.0,10.966473,23.076923,1.615385,0.111751,-0.898557,-4.140548,-0.493432
Willian,22.5,16.010895,32.000000,6.153846,0.094382,-0.419104,1.022254,-0.443761
Y. Poulsen,24.0,11.599103,26.000000,6.545455,0.144265,-0.636136,2.256770,0.671615
Y. Tielemans,44.0,12.550563,23.000000,4.384615,-0.072392,0.044029,0.550095,0.144939

### ridge

In [64]:
result_ridge = model.fit_regularized(alpha=0.01, L1_wt=0)
print(result_ridge.params)

[ 4.73217056 29.49964505  4.31584523 -7.1014784   1.55424879 -1.68779285
  2.31099956  4.60209492]

In [65]:
df_test = pd.DataFrame(df_test)

pred = result_ridge.predict(df_test)

rss = ((df_test.value - pred) ** 2).sum()
tss = ((df_test.value - df_test.value.mean()) ** 2).sum()
rsquared = 1 - rss / tss
rsquared

0.27132346416117625

### lasso

In [66]:
result_lasso = model.fit_regularized(alpha=0.01, L1_wt=1)
print(result_lasso.params)

Intercept        -1.735036
attacks          43.677381
defenses          7.566003
mistakes         -9.568581
contributions     1.842946
age              -0.610327
rating            2.851975
follower          2.776140
dtype: float64

In [67]:
df_test = pd.DataFrame(df_test)

pred = result_lasso.predict(df_test)

rss = ((df_test.value - pred) ** 2).sum()
tss = ((df_test.value - df_test.value.mean()) ** 2).sum()
rsquared = 1 - rss / tss
rsquared

0.21409140059667786

### Elasticnet

In [68]:
result_ela = model.fit_regularized(alpha=0.01, L1_wt=0.5)
print(result_ela.params)

Intercept        -6.149543
attacks          34.473591
defenses          4.862206
mistakes         -9.162667
contributions     1.926787
age              -0.496728
rating            2.967633
follower          2.839901
dtype: float64

In [69]:
df_test = pd.DataFrame(df_test)

pred = result_ela.predict(df_test)

rss = ((df_test.value - pred) ** 2).sum()
tss = ((df_test.value - df_test.value.mean()) ** 2).sum()
rsquared = 1 - rss / tss
rsquared

0.22963255737164612

In [70]:
import statsmodels.api as sm

model2 = sm.OLS.from_formula('value ~ scale(attacks)+scale(defenses)+scale(mistakes)+\
scale(contributions)+scale(age)+scale(rating)+scale(follower)',data = df_train)
result2 = model2.fit()
print(result2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  value   R-squared:                       0.407
Model:                            OLS   Adj. R-squared:                  0.392
Method:                 Least Squares   F-statistic:                     26.93
Date:                Mon, 22 Jun 2020   Prob (F-statistic):           4.96e-28
Time:                        18:25:29   Log-Likelihood:                -1218.5
No. Observations:                 283   AIC:                             2453.
Df Residuals:                     275   BIC:                             2482.
Df Model:                           7
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------
Intercept               35.8145      1.082     33.113      0.000      33.685      37.944
scale(attacks)          10.4980      1.758      5.971      0.000       7.037      13.959
scale(defenses)          5.5167      1.712      3.222      0.001       2.146       8.887
scale(mistakes)         -3.6541      1.207     -3.026      0.003      -6.031      -1.277
scale(contributions)     2.3886      1.177      2.030      0.043       0.072       4.705
scale(age)              -6.0869      1.233     -4.935      0.000      -8.515      -3.659
scale(rating)            2.2848      1.191      1.918      0.056      -0.061       4.630
scale(follower)         10.1452      1.245      8.150      0.000       7.695      12.596
==============================================================================
Omnibus:                       98.550   Durbin-Watson:                   1.971
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              322.899
Skew:                           1.512   Prob(JB):                     7.65e-71
Kurtosis:                       7.270   Cond. No.                         3.08
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [71]:
result_ridge2 = model2.fit_regularized(alpha=0.01, L1_wt=0)
print(result_ridge2.params)

[35.45988875 10.14935604  5.18511067 -3.59756945  2.40069065 -5.91745956
  2.29263531 10.05280189]

In [72]:
df_test = pd.DataFrame(df_test)

pred = result_ridge2.predict(df_test)

rss = ((df_test.value - pred) ** 2).sum()
tss = ((df_test.value - df_test.value.mean()) ** 2).sum()
rsquared = 1 - rss / tss
rsquared

0.2461418367604571

In [1]:
import statsmodels.api as sm

model3 = sm.OLS.from_formula('value ~ scale(attacks)+scale(I(attacks**2))+scale(I(attacks**3))+scale(defenses)+scale(mistakes)+\
scale(contributions)+scale(age)+scale(rating)+scale(follower)+scale(I(follower**2))+scale(I(follower**3))',data = df_train)
result3 = model3.fit()
print(result3.summary())

NameError: name 'df_train' is not defined

In [74]:
result_ridge3 = model3.fit_regularized(alpha=0.01, L1_wt=0)
print(result_ridge3.params)

[35.45988875  5.63344965  4.99314429 -1.87382782  3.64803114 -2.70196922
  2.19814106 -7.06629508  2.1265477  -5.55988583  4.60164257 12.7240249 ]

In [76]:
df_test = pd.DataFrame(df_test)

pred = result_ridge3.predict(df_test)

rss = ((df_test.value - pred) ** 2).sum()
tss = ((df_test.value - df_test.value.mean()) ** 2).sum()
rsquared = 1 - rss / tss
rsquared

0.24027881189019273