[출력 값의 데이터타입]  <--- 정리 필요
- zip함수 출력 결과의 데이터타입
- enumerate함수 출력 결과의 데이터타입
- map, reduce, filter, range, *args, args, **kwargs, kwargs

# Function_데코레이터

### 1. 데코레이터 복습_시간 측정

In [33]:
# 데코레이터 복습
# test1,2,3 는 숫자 2개를 입력받아 그 사이의 숫자를 sum하는 함수. 
# test 함수는 각각 하나는 for-loop이용, 다른 하나는 reduce함수 이용, 다른 하나는 sum함수 이용
# 데코레이터의 역할 : 각 test 함수의 시간을 측정하는 데코레이터 생성 ( import time, time.time()으로 데이터 생성해 객체에 저장 )

In [34]:
import time
# 데코레이터
def count_time(func):
    
    def wrapper(*args,**kwargs):
        start = time.time()
        result = func(*args,**kwargs)
        end = time.time()
        print("소요시간 : {}".format(end-start))
        return result
        
    return wrapper

In [35]:
#for loop 활용
@count_time
def test1(num1,num2):
    
    result = 0
    for i in range(num1,num2+1):
        result += i
    return result

In [36]:
#sum 함수 활용 -> sum함수가 제일 빠르다.
@count_time
def test2(num1,num2):
    
    data = range(num1,num2+1)
    return sum(data)

In [37]:
from functools import reduce
#reduce 활용
@count_time
def test3(num1,num2):
    
    result = reduce(lambda x,y:x+y,range(num1,num2+1))
    return result

### 2. 데코레이터 복습_패스워드 체크

In [9]:
# 데코레이터 복습
# 문제 : 패스워드가 맞아야 함수가 실행되도록 하는 데코레이터 작성

In [10]:
data = {'test':'1234','python':'5678'}

def check_pw(func):
    def wrapper(*args,**kwargs):
        
        user_id = input('아이디를 입력하세요 :')
        user_pw = input("비밀번호를 입력하세요 : ")
        if user_id in data:
            if user_pw in data[user_id]:
                return func(*args,**kwargs)
            
        return '잘못 입력하셨습니다.'
    return wrapper

In [11]:
@check_pw
def plus(a,b):
    return a+b

### 3. 데코레이터 복습_패스워드 체크 + 로그인 횟수 출력

In [12]:
# user data 를 입력 받아서 아이디와 패스워드를 체크하는 데코레이터 함수를 코드로 작성하세요.
# 로그인 될때마다 count를 1씩 증가
def need_login(func):
    def wrapper(*args, **kwargs):
        # 아이디 패스워드 입력
        user, pw = tuple(input("insert user pw : ").split(" "))
        
        # 존재하는 아이디, 패스워드 확인
        # for idx, user_data in zip(range(len(user_datas)), user_datas):
        for idx, user_data in enumerate(user_datas):
            
            if (user_data["user"] == user) and (user_data["pw"] == pw):
                
                # count 데이터 추가 
                user_datas[idx]["count"] += 1
                
                # 함수 실행
                return func(*args, **kwargs)
            
        return "wrong login data!"
    return wrapper

In [13]:
plus(1,2)

아이디를 입력하세요 :test 1234
비밀번호를 입력하세요 : 1234

'잘못 입력하셨습니다.'

# Class _ 설계

### 클래스 생성 = 새로운 데이터 타입 생성
### 클래스 생성 후, 소속 객체로 num, print(num), num1 + num2 등을 해주려면, 메소드로 

```
__repr__(self):
__str__(self):
__add__(self,unit):
    return self.num + unit.num
```

### 해줘야 함

### 1. 클래스 복습_마린 클래스 설계

In [42]:
# 스타크래프트의 마린을 클래스로 설계
# 체력(health : 40), 공격력(attack_pow : 5), 공격(attack())
# 마린 클래스로 마린 객체 2개를 생성해서 마린 1이 마린 2를 공격하는 코드를 작성
# attack(self, unit)
# 체력이 0인 경우 "사망"을 출력하고 체력이 (-)가 되지 않도록 코드를 작성

# 메딕 만들기 (heal_pow : 6), heal()

In [43]:
class Marine:
    
    def __init__(self, max_health=40, attack_pow=5):
        self.health = max_health
        self.max_health = max_health
        self.attack_pow = attack_pow
    
    def attack(self, unit):
        unit.health -= self.attack_pow
        if unit.health <= 0:
            unit.health = 0
            print("사망")
        return unit.health

In [44]:
marine_1 = Marine()

In [45]:
marine_2 = Marine()

In [46]:
marine_2_h = marine_1.attack(marine_2) # 여러번 공격하면 marine_2의 체력이 계속 감소

In [47]:
marine_1.health, marine_2.health # 40, 35

(40, 35)

In [48]:
marine_1.health, marine_1.attack_pow

(40, 5)

### 2. 계좌 class 설계

- 08. module, package 수업자료 참고

# Module _ 생성

### 1. 모듈 생성 -> 해당 모듈의 객체 생성 -> 객체를 통해 모듈 속 함수, 변수 활용

In [49]:
# 모듈.함수(--)  -> 모듈 내 직속 함수 있을 때
# 모듈.클래스.함수(--)  -> 모듈 내 클래스 속 함수 사용 시
# 모듈.변수     -> 모듈 내 직속 변수 있을 때

- 1) testn 이라는 모듈(파일) 작성 -> 생성
    - *직속 변수, 직속 함수, 클래스(변수, 함수 포함)  ///  함수-> *args를 파라미터로 작성해보기
- 2) 파일 리스트 확인, 변수 클리어 뒤 모듈 생성 확인 (%ls, %whos)
- 3) 객체 생성
- 4) 객체.변수 / 객체.함수 / 객체.클래스.변수 / 객체.클래스.함수 찍어보기

### 2. 패키지 생성

pack1 -> pack2 -> module_1(모듈) 생성

- 1) 디렉토리 생성
- 2) !tree pack1 로 확인
- 3) 모듈 생성
- 4) 모듈 호출
- 5) 모듈 약어로 축약
- 6) 모듈.변수 / 모듈.함수 / 모듈.클래스.변수 / 모듈.클래스.함수  출력해보기

# map, filter, reduce
- 아래의 코드들이 모두 동작되도록 `# TODO`가 있는 셀에 함수를 작성하세요.

##### Quiz 1
- map 함수를 map_func 함수의 이름으로 구현하세요.
- 리스트의 데이터를 아래의 예제와 같이 더하는 함수를 만드는데 따로 함수를 선언해서 사용하지 말고 map의 첫번째 파라미터에 lambda 함수로 구현하세요.

```
ls1 = [1,2,3,4]
ls2 = [5,6,7]
ls3 = [9,10,11,12]

result = [15, 18, 21]
```

In [0]:
ls1 = [1,2,3,4]
ls2 = [5,6,7]
ls3 = [9,10,11,12]

In [0]:
# map 함수 사용
list(map(lambda *args : sum(args), ls1, ls2, ls3))

[15, 18, 21]

In [0]:
# TODO
# map_func 이름으로 map 함수를 구현하세요.

In [0]:
# map_func 함수 사용
map_func(lambda *args : sum(args), ls1, ls2, ls3)

[15, 18, 21]

### Quiz 2
- filter 함수를 구현하여 1~10까지 숫자에서 홀수만 출력하는 코드를 작성하세요
```
ls = range(1, 11)
result = [1, 3, 5, 7, 9]
```

In [0]:
ls = range(1, 11)

In [0]:
# filter 함수 사용
list(filter(lambda number: number % 2, ls))

[1, 3, 5, 7, 9]

In [0]:
# TODO
# filter_func 이름으로 filter 함수를 구현하세요.

In [0]:
# filter_func 함수 사용
filter_func(lambda number: number % 2, ls)

[1, 3, 5, 7, 9]

### Quiz3
- reduce 함수를 구현

```
ls = [1, 2, 3, 4, 5]
def reduce_func():
    #TODO
    
reduce_func(lambda num1, num2: num1 + num2, ls)
result => 15
```

- 힌트

```
ls = [1, 2, 3]
del ls[0]
ls => [2, 3]
```

In [0]:
from functools import reduce

In [0]:
ls = [1, 2, 3, 4, 5]

In [0]:
# reduce 함수 사용
reduce(lambda num1, num2: num1 + num2, ls)

15

In [0]:
# TODO
# reduce_func 이름으로 reduce 함수를 구현하세요.

In [0]:
# reduce_func 함수 사용
reduce_func(lambda num1, num2: num1 + num2, ls)

15

# Numpy 관련

### Quiz 1

- 100 ~ 130까지 랜덤한 숫자를 가지는 8*8행렬을 만들고,
- 3의 배수는 fiz, 5의 배수는 buz, 3과 5의 배수는 fbz 문자로 변환
- 위의 조건에 맞지 않는 데이터는 랜덤하게 생성된 정수로 출력
- 랜덤한 행렬 데이터

```
datas = np.random.randint(100, 130, size=(8, 8))
```

[작업단위 처리순서]
- 1. 랜덤 행열 생성
- 2. 3배수 / 5배수 / 15배수의 True,False 행렬 저장
- 3. arr2의 형변환( .astype(str) )
- 4. arr2[True인 idx set] = 'fiz' 등으로 각각 문자열 넣기 <---- **브로드캐스팅** !

In [2]:
import numpy as np

# 1.
arr = np.random.randint(100,130,size=(8,8))
arr2 = arr.copy()
arr2

np.random.randint

# 2.
idx_3 = arr2%3==0
idx_5 = arr2%5==0
idx_15 = arr2%15==0

# 3. 형변환
arr3 = arr2.astype(str)

# 4. 문자 넣어주기
arr3[idx_3] = 'fiz'
arr3[idx_5] = 'buz'
arr3[idx_15] = 'fbz'

#arr3

### Quiz 2

- 1 ~ 20까지 랜덤한 숫자를 가지는 5*5행렬을 만들고,
- 최대값에는 'max', 최소값에는 'min' 문자열이 들어가도록 코드 작성

[처리순서]
- 1. 랜덤 배열 생성 -> 값복사 배열 생성
- 2. 최대값, 최소값 인덱스 저장
- 3. 문자열 치환
- 4. 최대, 최소 문자열로 치환

In [13]:
arr = np.random.randint(1,20,(5,5))
arr2 = arr.copy()

In [14]:
idx_max = arr2 == arr2.max()
idx_min = arr2 == arr2.min()

In [16]:
arr3 = arr2.astype(str)

In [18]:
arr3[idx_max] = 'max'
arr3[idx_min] = 'min'
# arr3

### Quiz 3

In [50]:
arr = np.random.randint(1,100,9).reshape(3,3)

In [52]:
idx = arr>80

In [54]:
# 위의 idx는 어떠한 요소들로 값이 채워질까?

### Quiz 4

In [43]:
# 30세에 연봉이 $100000 이고 60세의 연봉이 $1000000 일때
# 연봉이 선형으로 증가, 지수함수로 증가하는 두 경우에서의 40세, 50세 연봉을 출력

In [44]:
age_30 = 100000
age_60 = 1000000

### Quiz 5

#### 행렬 데이터 결합
- 1) a x b
- 2) a x c
- 3) d x c

- 세로 결합 : 위 아래로 붙여주는 것. m x n 이라면, n이 같은 행렬끼리 세로 결합이 가능
- 가로 결합 : 옆으로 붙여주는 것. m x n 이라면, m이 같은 행렬끼리 가로 결합이 가능

In [56]:
arr1 = np.random.randint(1,10,(3,3))
arr2 = np.random.randint(1,10,(2,3))
arr3 = np.random.randint(1,10,(3,2))

In [57]:
# 가로 결합

In [58]:
# 세로 결합

# Pandas 관련

In [61]:
import numpy as np
import pandas as pd

### 1. 시리즈 클래스 관련

In [1]:
#1 시리즈 생성
#size 10의 시리즈를 만들어봐라
#index는 ABCDEFGHIJ 로 설정해라
#size 10의 시리즈 생성(난수로 채워라)

In [96]:
#2 시리즈 다루기
#시리즈의 인덱스, 밸류들을 각각 출력해봐라
#또한, 시리즈의 마스킹을 실시하라

In [97]:
#3 시리즈도 넘파이 영향으로 브로드캐스팅... 직접 해봐라

In [2]:
#4 시리즈 생성 : 직접 숫자 넣기
# **zip이용해 데이터셋 만든 후 넣어보기!**

In [99]:
#5 생성한 2개의 시리즈를 더해줘라 -> 더할 때의 특징은?

In [100]:
#6 null값 채워줘라

### 2. DataFrame 클래스 관련

In [101]:
#1 데프 생성 - 1. 딕셔너리의 리스트

In [137]:
#1 데프 생성 - 2. 리스트의 딕셔너리

In [139]:
#2 데프 다루기
#데프의 인덱스, 밸류, 마스킹(loc, 컬럼선택은 보통처럼) 실시

In [159]:
#3 데프 확장 1. row 추가 (1 row만 추가)

In [163]:
#3 데프 확장 2. column 추가 (1 col만 추가)

In [168]:
#4 row, column 을 동시에 선택해봐라

### 3. DataFrame 관련 함수들

In [3]:
#1. apply 함수 <- map과 유사. email데이터에서 domain만 저장 후 새로운 컬럼으로 추가
#1) domain 정보만 빼내는 함수 만들기
#2) 이 domain함수를 apply함수에 인풋!


# 틀림! 1) domain 함수 만들기 못함
# 틀림! 2) domain 함수를 apply함수에 적용시켜서 df 변환시키는 과정 작성 못함

# apply함수는 자체적으로 for문 기능이 있는 듯. 
# df['email'].apply(func) 하면, func을 'email'컬럼의 데이터 하나하나에 반복적으로 대입시켜주는 듯!(func자체는 반복문 없이 작성)

In [186]:
%%writefile makedata.py


# 사람의 이름과 나이가 들어간 데이터를 만듭니다.
import random
import numpy as np

# 랜덤한 이름 출력하는 함수
def get_name():
    names = ["Adam", "Alan", "Alex", "Alvin", "Andrew",
             "Anthony", "Arnold", "Jin", "Billy", "Anchal"]
    return random.choice(names)

# 랜덤한 나이 출력
def get_age(start=20, end=40):
    return np.random.randint(start, end + 1)

# 랜덤하게 나이와 이름을 출력
def make_data(rows=10):
    datas = []
    for _ in range(rows):
        data = {"Age": get_age(), "Name": get_name()}
        datas.append(data)
    return datas

Overwriting makedata.py

In [189]:
#2. append <- 데프 합치기, 데이터를 밑에다가 추가로 붙일 때 활용
#1) 같은 컬럼의 데프 2개 생성
#2) 2 데프를 합쳐라

In [190]:
#3. reset_index <- 합친 후, 인덱스 재정렬
#index 2줄 생긴 것 1줄로 정리 + 인덱스 리셋 결과 저장

In [191]:
#4. concat <- 세로 / <->가로(axis=1) 방향으로 합치기
#가로로 합치면, index길이가 다른 데프끼리 합치면, NaN값 뜸 <- 정리해주기!

In [192]:
#5. groupby <- 특정 컬럼의 중복되는 데이터를 합쳐서 새로운 데프 생성
#1) 특정 컬럼에서 얼마나 중복되었는지 확인 <- size함수
#2) 데프 형식으로 저장
#3) 정렬

#### quiz
- makedata 모듈을 이용해서 데이터 프레임 만들기
- user_df
    - 8명의 데이터가 있는 데이터 프레임을 만드세요.
    - UserID : 1 ~ 8
    - Name : makedata.get_name()
    - Age  : makedata.get_age()
    - 중복되는 Name 값이 없도록

In [10]:
import makedata
import pandas as pd
import numpy as np

In [15]:
# 딕셔너리의 리스트
# 딕셔너리의 리스트 -> 열 단위 채우기
data_dic = {}

user_id = range(1,9)
user_age = [makedata.get_age() for _ in range(8)]
user_name = []

while len(user_name)<8:
    name_random = makedata.get_name()
    if name_random not in user_name:
        user_name.append(name_random)
        
data_dic['user_id'] = list(user_id)
data_dic['user_age'] = user_age
data_dic['user_name'] = user_name

datas_dic = pd.DataFrame(data_dic,index=(range(1,9)))
datas_dic

   user_id  user_age user_name
1        1        34   Anthony
2        2        32      Alan
3        3        36       Jin
4        4        30    Andrew
5        5        36    Anchal
6        6        38      Adam
7        7        24     Billy
8        8        39     Alvin

In [129]:
# 리스트의 딕셔너리
# 리스트의 딕셔너리 -> 행 단위 채우기
# {'user_id':0,'user_age':38,'user_naem':'A'}

# 1) 컬럼만 있는 데이터프레임 생성
# 2) row 데이터를 한줄씩 채워주기  # df.loc[ len(데이터) ] -> 데이터가 없으면 첫 행에 채우고, 그 다음 df.loc[1]에 채우고 ... 

# 1)
user_df = pd.DataFrame(columns=['user_id','user_age','user_name'])
user_df

#2) row 데이터 한줄씩 채워주기
datas=[]
idx = 0

while True:
    
    name_in = makedata.get_name()
    
    if name_in not in list(user_df['user_name']):
        idx += 1
        data = {
            'user_id':idx+1,
            'user_age':makedata.get_age(),
            'user_name':name_in
        }
        datas.append(data)
        user_df.loc[len(datas)]=data
        
    if idx == 8:
        break
    
user_df

  user_id user_age user_name
1       2       28    Andrew
2       3       34     Alvin
3       4       29      Alex
4       5       30      Adam
5       6       34       Jin
6       7       28    Anchal
7       8       37   Anthony
8       9       37      Alan

#### quiz
- money_df 만들기
    - 15개의 데이터
    - ID : 1 ~ 8 랜덤한 숫자 데이터
    - Money : 1000원 단위로 1000원 ~ 20000원까지의 숫자가 저장

In [ ]:
# 딕셔너리 데이터를 데프에 하나씩 추가하기
# 행단위로 !

In [400]:
money_df = pd.DataFrame(columns=['ID','Money'])
data_vec = []

# 1. 데프 생성
# 2. 행단위로 추가하기(딕셔너리 생성 -> 쌓기 -> 다 쌓으면 df에 차곡차곡 쌓기))
for _ in range(1,16):
    data_scalar = {
        'ID':np.random.randint(1,9),
        'Money':np.random.randint(1,20)*1000,
    }
    money_df.loc[len(money_df)] = data_scalar
    
money_df

   ID  Money
0   7  19000
1   7  11000
2   1   9000
3   5   4000
4   3   7000
5   1  17000
6   2   4000
7   6  19000
8   1   6000
9   7  10000
10  3  15000
11  5  10000
12  6   9000
13  3   4000
14  2   9000