# 점프투파이썬 문제풀이

## 2장 연습문제
- 1, 8, 11, 12번 주의
- [url]
- 문제 : https://wikidocs.net/42526
- 해답 : https://wikidocs.net/12769#02

# [문제목록 : 2장 1, 8, 11, 12번]

In [ ]:
#2장 1번

# Q1
# 홍길동 씨의 과목별 점수는 다음과 같다. 홍길동 씨의 평균 점수를 구해 보자.

# 과목	점수
# 국어	80
# 영어	75
# 수학	55

In [ ]:
#2장 8번

# Q8
# (1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력해 보자.
# ※ 더하기(+)를 사용해 보자.

In [1]:
#2장 11번

# Q11
# a 리스트에서 중복 숫자를 제거해 보자.

# a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]

In [ ]:
#2장 12번

# Q12
# 파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다. 다음과 같이 a, b 변수를 선언한 후 a의 두 번째 요솟값을 변경하면 b 값은 어떻게 될까? 그리고 이런 결과가 오는 이유에 대해 설명해 보자.

# a = b = [1, 2, 3]
# a[1] = 4
# print(b)

# [풀이 코드 : 2장 1, 8, 11, 12번]
- 제가 쓴 코드이고, 효율적으로 풀기보단,, 배운 것들을 활용해서 풀려고 이것저것 써본 내용이라, 그다지 모범적인 코드는 아닙니다!
- 교재의 풀이는 위의 url 로 가셔서 보시면 되어요!

In [23]:
#2장 1번 *

a,b,c=0,0,0
data = []

#점수 입력받기, 카운트 기록
data.append(input('국어점수 : '))
data.append(input('영어점수 : '))
data.append(input('수학점수 : '))

#input으로 입력받으면, 자료형이 string! -> sum하려면 int로 형변환 해줘야 함

#형변환
#for i1 in len(data): -> for i in 3: 같은 것.. -> for i in range(3) 같이 해줘야 함..
for i in range(len(data)):
    data[i] = int(data[i])

#각 점수의 합 구하기
sum_ = sum(data)

#각 점수 받은 횟수로 나눠주기
aver_ = sum_/len(data)
aver_

국어점수 : 80
영어점수 : 75
수학점수 : 55

70.0

In [28]:
#2장 2번
num = input('숫자를 입력하세요 : ')
num = int(num)

result = ['홀수' if num%2 else '짝수']
print(result)

숫자를 입력하세요 : 13
['홀수']

In [31]:
#2장 5번

a = "a:b:c:d"
a.replace(':','#')

'a#b#c#d'

In [35]:
#2장 6번

ls = [1,3,5,4,2]
ls.sort()
ls[::-1]

[5, 4, 3, 2, 1]

In [37]:
#2장 7번

ls = ['Life', 'is', 'too', 'short']
ls_result = ' '.join(ls)
ls_result

'Life is too short'

In [40]:
#2장 8번 *

tup = (1,2,3)
tup+(4,)

(1, 2, 3, 4)

In [41]:
#2장 9번

#dict형의 key 로는 변동가능한 객체인 리스트가 올 수 없다. int, str, tuple은 key로 올 수 있다.

In [44]:
#2장 10번

a = {'A':90, 'B':80, 'C':70}
a.pop('B')

80

In [46]:
#2장 11번 *
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
a = set(a)
a

{1, 2, 3, 4, 5}

In [52]:
#2장 12번 *

a = b = [1,2,3]
a[1] = 4
print(b)

[1, 4, 3]