# Day 2복습

In [11]:
data = {
    'a':'abc',
    'b':'bcd',
    'c':'cde',
    'd':'def',
}

data_ls = ['a','b','c','d','e']

# for idx, data_2 in enumerate(data_ls):
#     print(idx+1,data_2)

for idx, data_2 in zip(range(len(data_ls)),data_ls):
    print(idx+1,data_2)

1 a
2 b
3 c
4 d
5 e

In [14]:
result = [char for char in data_ls if char!='a']
result

['b', 'c', 'd', 'e']

In [19]:
data_int = list(range(1,11))
data_int

result = ['홀수' if data%2 else '짝수' for data in data_int]
result

# result = [True표현식 if (조건문) else False표현식 for ]

['홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수']

In [23]:
# 구구단 -> 최대한 간단하게

for i in range(1,10):
    for j in range(1,10):
        print('{} x {} = {}'.format(i,j,i*j),end=' ')

1 x 1 = 1 1 x 2 = 2 1 x 3 = 3 1 x 4 = 4 1 x 5 = 5 1 x 6 = 6 1 x 7 = 7 1 x 8 = 8 1 x 9 = 9 2 x 1 = 2 2 x 2 = 4 2 x 3 = 6 2 x 4 = 8 2 x 5 = 10 2 x 6 = 12 2 x 7 = 14 2 x 8 = 16 2 x 9 = 18 3 x 1 = 3 3 x 2 = 6 3 x 3 = 9 3 x 4 = 12 3 x 5 = 15 3 x 6 = 18 3 x 7 = 21 3 x 8 = 24 3 x 9 = 27 4 x 1 = 4 4 x 2 = 8 4 x 3 = 12 4 x 4 = 16 4 x 5 = 20 4 x 6 = 24 4 x 7 = 28 4 x 8 = 32 4 x 9 = 36 5 x 1 = 5 5 x 2 = 10 5 x 3 = 15 5 x 4 = 20 5 x 5 = 25 5 x 6 = 30 5 x 7 = 35 5 x 8 = 40 5 x 9 = 45 6 x 1 = 6 6 x 2 = 12 6 x 3 = 18 6 x 4 = 24 6 x 5 = 30 6 x 6 = 36 6 x 7 = 42 6 x 8 = 48 6 x 9 = 54 7 x 1 = 7 7 x 2 = 14 7 x 3 = 21 7 x 4 = 28 7 x 5 = 35 7 x 6 = 42 7 x 7 = 49 7 x 8 = 56 7 x 9 = 63 8 x 1 = 8 8 x 2 = 16 8 x 3 = 24 8 x 4 = 32 8 x 5 = 40 8 x 6 = 48 8 x 7 = 56 8 x 8 = 64 8 x 9 = 72 9 x 1 = 9 9 x 2 = 18 9 x 3 = 27 9 x 4 = 36 9 x 5 = 45 9 x 6 = 54 9 x 7 = 63 9 x 8 = 72 9 x 9 = 81

In [ ]:
# 1번) 

# # 예제
# # A = [1,2,3,4,5,6], B = {'num1':100,'num2':200} 에서, A의 모든 요소와 B의 모든 value를 더하는 함수를 만드시오
# # 함수명 : plus



# # 예시 답안
# # A = [1,2,3,4,5,6]
# # B = {'num1':100,'num2':200}
# # def plus(*args,**kwargs):
# #     return sum(args) + sum(kwargs.values())

# # plus(*A,**B)

In [24]:
# 2번)

# # 예제2)
# A = 'a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p'
# B = list(range(1,17))
# A = A.split(',')
# C = list(zip(A,B))

# 일 때,

# C의 value 값 들을 모두 더하는 함수 plus1 을 작성하라.

In [43]:
# 1번)
A = [1,2,3,4,5,6]
B = {'num1':100,'num2':200}

def plus(*args,**kwargs):
     
    return sum(args) + sum(kwargs.values())

plus(*A,**B)

321

In [60]:
# 2번)
A = 'a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p'
A = A.split(',')
B = range(1,len(A)+1)
C = dict(zip(A,B))
data = 0

for i in C.values():
    data += i

print(data)

136

In [61]:
def func1():
    '''
    그냥 적어봄
    '''
    
    return

In [64]:
gv = 100000

def plus(a,b):
    global gv
    gv = 10
    
    return a+b+gv

plus(10,20)

40

In [65]:
gv

10

In [68]:
def outer(a,b):
    
    def inner(c,d):
        return c*d
    
    return inner

outer(10,22)(12,10)

120

### callback function
- 함수가 파라미터로 들어 가는 함수(callback function 함수)
- inner function은 말그대로 파라미터가 아닌, 함수 안에 또다른 함수를 설정하는 것.

In [73]:
def callback(func,a,b):
    return func(a,b)

def plus(a,b):
    return a+b

def multi(a,b):
    return a*b

callback(multi,19,2)

38

In [78]:
callback(lambda a,b:a**b,2,1000)

10715086071862673209484250490600018105614048117055336074437503883703510511249361224931983788156958581275946729175531468251871452856923140435984577574698574803934567774824230985421074605062371141877954182153046474983581941267398767559165543946077062914571196477686542167660429831652624386837205668069376

# map, filter, reduce 함수 
    - 결과 반환 시, list등으로 형변환 해줘야. 저 연산하면 데이터 타입 자체가 map, filter 가 됨
    - reduce는 다름. 반환이 int. 그리고 from functools import reduce 로 호출해줘야함

- map 함수 : map(func, iterable) func을 반복해서 적용시켜준 결과를 반환
- filter : filter(func, iterable) func을 반복해서 적용시켜준 후 True일 때만 반환
- reduce : reduce(func, iterable) func을 반복해서 적용시켜준 후 두 요소를 반복해서 누적 계산하며 하나씩 줄여주는 역할

In [82]:
ls = list(range(1,25))

ls_map = list(map(lambda x:x**2, ls))
print(ls_map,sep=' ')

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576]

In [90]:
ls_filter = list(filter(lambda x : x%2, ls))

In [91]:
ls_filter

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23]

In [96]:
from functools import reduce

ls_reduce = reduce(lambda x,y : x+y, ls)
ls_reduce

300

In [97]:
from functools import reduce

# decorator

-아이디, 비밀번호 체크하는 것 만들어보자

In [ ]:
user = [
    {'id':'test','pw':'1234','count':0},
    {'id':'python','pw':'5678','count':0}
]

In [199]:
def decor(func):
    
    def wrapper(*args,**kwargs):
        #정보 받기
        user_id, user_pw = tuple(input('아이디와 비밀번호를 입력하세요 : ').split(' '))
        
        #아이디가 있는지 확인
        #있다면, 비빌번호 확인 -> 일치하면, return / 아니면 return '잘못 입력하셨습니다.'        
        for idx, user_packing in enumerate(user):  #enumerate로 dict형으로 들어간다.
            if (user_id == user_packing['id']) and (user_pw == user_packing['pw']):  
                user[idx]['count'] += 1
                return func(*args,**kwargs)
        return '잘못 입력하셨습니다.'
    return wrapper

@decor
def plus(a,b):
    return a+b

plus(1,2)

아이디와 비밀번호를 입력하세요 : test 1234

3

In [200]:
print(user)

[{'id': 'test', 'pw': '1234', 'count': 5}, {'id': 'python', 'pw': '5678', 'count': 0}]

In [144]:
tuple(user[0].values())

('test', '1234')

In [145]:
idx, user_init = enumerate(user)
idx, user_init

((0, {'id': 'test', 'pw': '1234'}), (1, {'id': 'python', 'pw': '5678'}))

In [146]:
user['id']

TypeError: list indices must be integers or slices, not str

In [150]:
        for idx, user_packing in enumerate(user):
            print(idx,user_packing)
            print(user_packing['id'])

0 {'id': 'test', 'pw': '1234'}
test
1 {'id': 'python', 'pw': '5678'}
python

In [3]:
A = [1,2,3,4,5,6]
B = {'num1':100,'num2':200}

# 위와 같이 주어졌을 때, A의 모든 요소와 B의 모든 value를 더하는 함수를 작성해주세요. 
# (*args,**kwargs 파라미터, 아규먼트를 활용해 작성)
# 함수명 : plus

In [7]:
def plus(*args,**kwargs):
    
    return sum(args) + sum(kwargs.values())

plus(1,2,3,4,5,6,**B)

321

# 점프투파이썬 문제풀이

## 2장 연습문제

In [23]:
#2장 1번 *

a,b,c=0,0,0
data = []

#점수 입력받기, 카운트 기록
data.append(input('국어점수 : '))
data.append(input('영어점수 : '))
data.append(input('수학점수 : '))

#input으로 입력받으면, 자료형이 string! -> sum하려면 int로 형변환 해줘야 함

#형변환
#for i1 in len(data): -> for i in 3: 같은 것.. -> for i in range(3) 같이 해줘야 함..
for i in range(len(data)):
    data[i] = int(data[i])

#각 점수의 합 구하기
sum_ = sum(data)

#각 점수 받은 횟수로 나눠주기
aver_ = sum_/len(data)
aver_

국어점수 : 80
영어점수 : 75
수학점수 : 55

70.0

In [28]:
#2장 2번
num = input('숫자를 입력하세요 : ')
num = int(num)

result = ['홀수' if num%2 else '짝수']
print(result)

숫자를 입력하세요 : 13
['홀수']

In [31]:
#2장 5번

a = "a:b:c:d"
a.replace(':','#')

'a#b#c#d'

In [35]:
#2장 6번

ls = [1,3,5,4,2]
ls.sort()
ls[::-1]

[5, 4, 3, 2, 1]

In [37]:
#2장 7번

ls = ['Life', 'is', 'too', 'short']
ls_result = ' '.join(ls)
ls_result

'Life is too short'

In [40]:
#2장 8번 *

tup = (1,2,3)
tup+(4,)

(1, 2, 3, 4)

In [41]:
#2장 9번

#dict형의 key 로는 변동가능한 객체인 리스트가 올 수 없다. int, str, tuple은 key로 올 수 있다.

In [44]:
#2장 10번

a = {'A':90, 'B':80, 'C':70}
a.pop('B')

80

In [46]:
#2장 11번 *
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
a = set(a)
a

{1, 2, 3, 4, 5}

In [52]:
#2장 12번 *

a = b = [1,2,3]
a[1] = 4
print(b)

[1, 4, 3]

# 3장 연습문제

In [66]:
#3장 2번
#while문을 사용해 1부터 1000까지의 자연수 중 3의 배수의 합을 구해 보자.
#리스트 내포를 이용해 구해보자

ls = [i for i in range(1,1001) if i%3==0]
sum(ls)

166833

In [61]:
#3장 3번
idx = 0

while True:
    idx += 1
    print('*'*idx)
    
    if idx==5:
        break

*
**
***
****
*****

In [64]:
#3장 5번
# A 학급에 총 10명의 학생이 있다. 이 학생들의 중간고사 점수는 다음과 같다.
# [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
# for문을 사용하여 A 학급의 평균 점수를 구해 보자.

ls = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
idx_ls = 0
sum_ = 0

for idx, data in enumerate(ls):
    sum_ += data
    idx_ls = idx+1

sum_/idx_ls

79.0

In [65]:
#3장 6번
# 리스트 중에서 홀수에만 2를 곱하여 저장하는 다음 코드가 있다.

# numbers = [1, 2, 3, 4, 5]
# result = []
# for n in numbers:
#     if n % 2 == 1:
#         result.append(n*2)
# 위 코드를 리스트 내포(list comprehension)를 사용하여 표현해 보자.

numbers = [1, 2, 3, 4, 5]
result = [i*2 for i in numbers if i%2]
result

[2, 6, 10]

# 4장 연습문제