In [5]:
# kospi 주가 데이터 로드
kospi_df = pd.read_csv("/Users/kimjeongseob/Desktop/Github upload/5.EDA/Quiz_review/kospi.csv")
kospi_df.tail(1)

,aq,cr,cv,dt,hv,lv,ncv,ov,rf,name
9999,1146495,-0.380228,-20,20190717,5350.0,5220.0,5240,5260.0,5,메리츠종금증권

# [가공 전]

#### 1. 모든 기업(name)이 포함되는 월별 상승률(cr)를 데이터 프레임으로 출력하고, 출력된 데이터 프레임을 리스트의 딕셔너리포멧으로 출력하세요.

In [2]:
# 모든 기업(name)이 포함되는 월별 상승률(cr)를 데이터 프레임으로 출력

In [3]:
# TODO

result_df

     month        cr
0  2019-07 -0.304372
1  2019-08 -0.131933
2  2019-09  0.180889
3  2019-10 -0.003247
4  2019-11  0.040371
5  2019-12  0.083872

In [4]:
# 결과 데이터를 소수 셋째자리까지 출력되도록 아래와 같이 리스트의 딕셔너리 포멧으로 출력

In [5]:
# TODO

result_datas

[{'month': '2019-07', 'cr': -0.304},
 {'month': '2019-08', 'cr': -0.132},
 {'month': '2019-09', 'cr': 0.181},
 {'month': '2019-10', 'cr': -0.003},
 {'month': '2019-11', 'cr': 0.04},
 {'month': '2019-12', 'cr': 0.084}]

# [가공 후]

#### 1. 모든 기업(name)이 포함되는 월별 상승률(cr)를 데이터 프레임으로 출력하고, 출력된 데이터 프레임을 리스트의 딕셔너리포멧으로 출력하세요.

In [6]:
# 모든 기업(name)이 포함되는 월별 상승률(cr)를 데이터 프레임으로 출력

In [7]:
kospi_df["month"] = kospi_df["dt"].apply(lambda data: "{}-{}".format(str(data)[:4], str(data)[4:6]))
result_df = kospi_df.groupby("month").mean()[["cr"]].reset_index()
result_df

     month        cr
0  2019-07 -0.304372
1  2019-08 -0.131933
2  2019-09  0.180889
3  2019-10 -0.003247
4  2019-11  0.040371
5  2019-12  0.083872

In [ ]:
# 결과 데이터를 소수 셋째자리까지 출력되도록 아래와 같이 리스트의 딕셔너리 포멧으로 출력

In [8]:
result_df["cr"] = np.round(result_df["cr"], 3)
result_datas = result_df.to_dict("records")
result_datas

[{'month': '2019-07', 'cr': -0.304},
 {'month': '2019-08', 'cr': -0.132},
 {'month': '2019-09', 'cr': 0.181},
 {'month': '2019-10', 'cr': -0.003},
 {'month': '2019-11', 'cr': 0.04},
 {'month': '2019-12', 'cr': 0.084}]