In [6]:
a = '12345'
dir(a).apply(lambda x: x if x[:2]!='__')

SyntaxError: invalid syntax (<ipython-input-6-faeb910f024d>, line 2)

In [8]:
ls = []
dir(ls)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [9]:
# 리스트
city = ["seoul", "busan", "daegu"]
population = [9700000, 3400000, 2400000]

In [10]:
dict(zip(city,population))

{'seoul': 9700000, 'busan': 3400000, 'daegu': 2400000}

In [11]:
dict(list(zip(city,population)))

{'seoul': 9700000, 'busan': 3400000, 'daegu': 2400000}

In [12]:
list(zip(city,population))

[('seoul', 9700000), ('busan', 3400000), ('daegu', 2400000)]

In [14]:
tuple(zip(city,population))

(('seoul', 9700000), ('busan', 3400000), ('daegu', 2400000))

In [16]:
int(zip(city,population))

TypeError: int() argument must be a string, a bytes-like object or a number, not 'zip'

In [26]:
a = []
b = range(10)
c = {'a':b}
d = 10
dir(d)
type(b)

range

In [83]:
ls = [1,2,3,4,5]
ls_dit = {1:'a',2:'b'}
ls_r = range(5)
ls_s = 'abcde'
ls_t = (1,2,3,4,5)

In [84]:
from functools import reduce

In [94]:
result6 = reduce(lambda x,y: x+y,ls_t)
result6

15

In [97]:
data = {1:'a'}
data[2] = 'b'
data

{1: 'a', 2: 'b'}

In [39]:
# 패스워드 체크 데코레이터
# id, 비밀번호 받아서 맞으면 함수 작동하도록
user_data = [{'id':'kjscop','pw':'1111'},
             {'id':'kkk','pw':'2222'}]
num = 0 

def check(func):
    
    def wrapper(*args,**kwargs):
        
        insert_id, insert_pw = tuple(input("id, pw : ").split(' '))
        
        for idx, info in enumerate(user_data):
        
            if (insert_id == user_data[idx]['id']) and (insert_pw == user_data[idx]['pw']):
                
                global num
                num += idx
                user_data[idx]['count'] = num
                print("로그인 횟수 : {}".format(user_data[idx]['count']))
                return func(*args,**kwargs)
            
        return 'wrong insert'
    
    return wrapper
    
@check
def plus_data(a,b):
    return a+b

In [42]:
plus_data(1,2)

id, pw : kjscop 1111
로그인 횟수 : 0

3

In [32]:
a = [{1:'a'},{2:'b'}]
a[0]['count'] = 1

a

[{1: 'a', 'count': 1}, {2: 'b'}]

In [4]:
a = pd.DataFrame({'a':[1,2,3],'b':[4,5,6]})
a

   a  b
0  1  4
1  2  5
2  3  6

In [38]:
a = [1,2,3,4,5]
b = ['a','b','c','d','e']
c = []
d = {}
e = {}
for i in [0,1]
    print(c)

[]
[{'momnth': 1}, {'cr': 'a'}]
[{'momnth': 2}, {'cr': 'b'}]
[{'momnth': 2}, {'cr': 'b'}, {'momnth': 2}, {'cr': 'b'}]

[{'momnth': 2}, {'cr': 'b'}, {'momnth': 2}, {'cr': 'b'}]

In [16]:
[{'month': 1, 'cr':'a'},
 {'month': 2, 'cr':'b'}
]

SyntaxError: invalid syntax (<ipython-input-16-d2b69647fdb0>, line 1)

In [ ]:
[{'month': '2019-07', 'cr': -0.304},
 {'month': '2019-08', 'cr': -0.132},
 {'month': '2019-09', 'cr': 0.181},
 {'month': '2019-10', 'cr': -0.003},
 {'month': '2019-11', 'cr': 0.04},
 {'month': '2019-12', 'cr': 0.084}]