In [12]:
from sqlalchemy import *

db_connection_str = 'mysql+pymysql://root:Lwglwk5120!@54.180.4.238/ML'
db_connection = create_engine(db_connection_str)
filtered_df = pd.read_sql('SELECT * FROM filtered_df',con=db_connection)
filtered_df.tail(2)

,index,player_id,player_name,firstname,lastname,number,position,age,birth_date,birth_place,...,penalty_commited,penalty_success,penalty_missed,penalty_saved,games_appearences,games_minutes_played,games_lineups,substitutes_in,substitutes_out,substitutes_bench
119021,1227043,199931,William BÃ¸ving Vick,William BÃ¸ving,Vick,0.0,Attacker,17.0,01/03/2003,,...,0.0,0.0,0.0,0.0,1.0,4.0,0.0,1.0,0.0,1.0
119022,1227047,199934,M. DÃ¡rdai,MÃ¡rton,DÃ¡rdai,0.0,Defender,18.0,12/02/2002,Berlin,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0