In [4]:
import pandas as pd
import numpy as np

In [24]:
# series -> index와 value로 이루어진 타입.
# 리스트형, 딕트형으로 생성 가능. 역시나 딕트형은 인덱스를 함께 지정해주는 것
x = pd.Series([1,2,3])
y = np.random.randint(9,size=(3,3))
y = pd.Series(np.random.randint(9,size=9))
x = pd.Series(np.random.randint(100,size=11),index=(range(1,12)))
x[::-1]
data = pd.Series({'A':1,'B':2})
data

A    1
B    2
dtype: int64

In [39]:
data = pd.Series([1,2],index=(range(1,3)))
x+data
# 더할 때는 인덱스 같은 것만 더해주고, 나머지는 nan값
c = x+data
c[c.isnull()] = x
c

1     16.0
2     64.0
3     89.0
4     10.0
5     46.0
6      2.0
7     65.0
8     59.0
9     82.0
10    64.0
11    98.0
dtype: float64

In [40]:
%whos

Variable   Type      Data/Info
------------------------------
c          Series    1     16.0\n2     64.0\n3<...>1    98.0\ndtype: float64
data       Series    1    1\n2    2\ndtype: int64
np         module    <module 'numpy' from '/Us<...>kages/numpy/__init__.py'>
pd         module    <module 'pandas' from '/U<...>ages/pandas/__init__.py'>
x          Series    1     15\n2     62\n3    <...>4\n11    98\ndtype: int64
y          Series    0    3\n1    4\n2    7\n3<...>  0\n8    4\ndtype: int64

In [68]:
a = 'abcdef'
b = []
b = [a[i] for i in range(len(a))]
b
c = list(range(1,7))
c
d = dict(zip(b,c))
d

data = pd.Series(d)
data

a    1
b    2
c    3
d    4
e    5
f    6
dtype: int64

In [72]:
data_2 = pd.Series({'a':100,'b':200})
e = data+data_2
e[e.isnull()] = data
e

a    101.0
b    202.0
c      3.0
d      4.0
e      5.0
f      6.0
dtype: float64

In [74]:
# 1. df 생성. 딕셔너리의 리스트 -> 열 기준으로 생성

df = pd.DataFrame({'a':[1,2,3],'b':[4,5,6],'c':[7,8,9]},index=[1,2,3])
df

   a  b  c
1  1  4  7
2  2  5  8
3  3  6  9

In [75]:
# 2. df 생성. 리스트의 딕셔너리 -> 행 기준 생성

df_2 = pd.DataFrame([{'a':100,'b':200,'c':300},{'a':101,'b':102,'c':103},{'a':201,'b':202,'c':203}])
df_2

     a    b    c
0  100  200  300
1  101  102  103
2  201  202  203

In [76]:
# 3. 인프런 참고 df 생성. 리스트의 리스트

df_3 = pd.DataFrame([[10,20,30],[40,50,60],[70,80,90]],index=[1,2,3],columns=['a','b','c'])
df_3

    a   b   c
1  10  20  30
2  40  50  60
3  70  80  90

In [82]:
df_4 = pd.DataFrame(
    {'a':[4,5,6],
     'b':[7,8,9],
     'c':[10,11,12]},index=pd.MultiIndex.from_tuples(
        [('d',1),('d',2),('e',2)],names=['n','v']))
df_4

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 2  6  9  12

In [80]:
df_5 = pd.DataFrame(
        {"a" : [4 ,5, 6],
        "b" : [7, 8, 9],
        "c" : [10, 11, 12]}, index = pd.MultiIndex.from_tuples(
        [('d',1),('d',2),('e',2)], names=['n','v']))
df_5

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 2  6  9  12